<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="'Edit Task (taskID = ' + ${taskInEditing.taskID} + ')'"></title>
    <link href="style.css" rel="stylesheet">
</head>
<!--
@author Nikolaj Pregaard
@author Mads Haderup
-->
<body>
    <div class="background">
        <div id="wrapper" class="center">
            <form action="/updateTask" method="post">
                <h1>Update Task</h1>
                Task name: <input type="text" name="taskName" th:value="${taskInEditing.taskName}"/>
                <br><br>
                Deadline: <input type="datetime-local" name="deadline" th:value="${taskInEditing.deadlineFormatted}"/>
                <br><br>
                <button onclick="history.back()" type="button">Back</button>
                <button name="create" type="submit">Update</button>
            </form>
        </div>
    </div>
</body>
</html>