<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="'Edit Subtask (subtaskID = ' + ${subtaskInEditing.subtaskID} + ')'"></title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div class="background">

        <div id="wrapper" class="center">
            <form action="/updateSubtask" method="post">
                <h1>Update Subproject</h1>

                Subtask Name: <input type="text" name="subtaskName" th:value="${subtaskInEditing.subtaskName}"/>
                <br><br>
                Hours Required: <input type="number" step="1" name="hoursRequired" th:value="${subtaskInEditing.hours}"/>
                <br><br>
                Minutes Required:
                <select name="minutesRequired" id="minutesRequired">
                    <option
                            th:each="i : ${#numbers.sequence(0,60)}"
                            th:value="${i}"
                            th:text="${i}"
                            th:selected="${i==subtaskInEditing.minutes}">
                    </option>
                </select>
                <br><br>
                <button onclick="history.back()" type="button">Back</button>
                <button name="create" type="submit">Update</button>
            </form>
        </div>
    </div>
</body>
</html>