<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AlphaSolutions</title>
    <link href="style.css" rel="stylesheet">
</head>
<!--
@author Nikolaj Pregaard
-->
<body>
    <div class="background">
        <div id="wrapper" class="center">
            <h1>Welcome to Alphasolutions, a company with the goal of making
                everyone have an easier time making and managing projects.</h1>

            <h2><a href="/register">Create a user</a></h2>
            <p>Or</p>
            <h2><a href="/login">Login</a></h2>
        </div>
    </div>
</body>
</html>