<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>newSubTask</title>
</head>
<body>
<div id="wrapper" class="center">
    <form action="/createSubTask" method="post">
        <h1>Create Project</h1>

        SubTaskname: <input type="text" name="subtaskName"/>
        <br><br>
        TimeRequired: <input type="time" name="timeRequired"/>
        <br><br>
        <button onclick="history.back()" type="button">Back</button>
        <button name="create" type="submit">Register</button>
    </form>
</div>
</body>
</html>