<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Subproject</title>
</head>
<body>
<div id="wrapper" class="center">
    <form action="/createSubproject" method="post">
        <h1>Create Subproject</h1>

        Subproject Name: <input type="text" name="subprojectName"/>
        <br><br>
        Deadline: <input type="datetime-local" name="deadline"/>
        <br><br>
        <button onclick="history.back()" type="button">Back</button>
        <button name="create" type="submit">Register</button>
    </form>
</div>
</body>
</html>