<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subprojects</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <div class="center">
            <h1>Welcome to the subprojects page!</h1>
            <h2>Here you can start a new subproject, mark them finished or delete them!</h2>

            <button onclick="location.href='/newSubproject'" type="button" class="button">Start a new subproject</button>
            <br><br>
            <button onclick="location.href='/mainPage'" type="button" class="button">Back to Projects Page</button>
            <br><br>
        </div>

        <table id="customers">
            <tr>
                <th style="width: 40%">Project Name</th>
                <th style="width: 15%">Project Owner</th>
                <th style="width: 15%">Deadline</th>
                <th style="width: 10%">Tasks</th>
                <th style="width: 10%">Subproject Changes</th>
                <th style="width: 10%">Delete?</th>
            </tr>

            <tr th:each="subproject : ${subprojects}">
                <td th:text="${subproject.subprojectName}"></td>
                <td style="text-align:center" th:text="${subproject.subprojectOwner}"></td>
                <td style="text-align:center" th:text="${subproject.getDeadlineFormatted}" ></td>
                <td>
                    <a th:href="@{/tasksRedirect(subprojectID=${subproject.subprojectID})}">
                        <p class="center">View Tasks</p>
                    </a>
                </td>
                <td>
                    <a th:href="@{/editSubprojectRedirect(subprojectID=${subproject.subprojectID})}">
                        <p class="center">Update Subproject</p>
                    </a>
                </td>
                <td>
                    <a onclick="
                        return confirm('Are you sure you want to delete this subproject?');"
                       th:href="@{/deleteSubProject(subProjectID=${subproject.subprojectID})}">
                        <img class="icon center" src="trash.png" alt="delete item">
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>