<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Username Already Exists</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div class="background">
        <div id="wrapper" class="center">
            <h1>The account could not be created</h1>
            <h2>This can be because either the username is already in use or you entered your passwords wrong</h2>
            <button onclick="location.href='/register'" type="button">Click here to go back and try again :)</button>
        </div>
    </div>
</body>
</html>